name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update
          rustup component add clippy
          rustup install nightly
        working-directory: backend

      - name: Lint
        run: |
          cargo fmt -- --check
          cargo clippy -- -D warnings
        working-directory: backend

      - name: Test
        run: |
          cargo check
          cargo test --all
        working-directory: backend

      - name: Build
        run: |
          cargo build --release
        working-directory: backend
